docker >=3.0.0
docker-compose >= 1.7.0
flake8>=3.0.0
mock
pytest>=3.0.0
pytest-cov>=2.0.0

# order preserving encryption
pyope

# data visualization
matplotlib==3.0.0

# code prettifiers / optimizers
yapf>=0.24.0
beeprint>=2.4.7
autoflake==1.2
